body {
    font-family: 'Cabin', sans-serif;
}

a h2 {
    font-family: 'Lobster', cursive;
}

hr {
    background: black;
}
.carousel-indicators {
    bottom: -50px;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    color: red;
}
